:root{
    --backgroundColor: #FAFAFA;
    --DarkPurple : #825F96;
    --lightText: #C0AEC9;
    --midPurple: #997DA9;
}

*{
    font-family: monospace;
}

html{
    font-size: 20px;
}

body{
    background-color: var(--backgroundColor);
    color: var(--DarkPurple);
}


header{
    position: fixed;
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: right;
}

nav {
    position: absolute;
    right: 3%;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav a{
color: var(--lightText);
font-size: 1rem;
max-width: 15%;
}


nav a:link { text-decoration: none; }
nav a:visited { text-decoration: none; }
nav a:hover { 
    text-decoration: none;
    color: var(--DarkPurple)
}
nav a:active { text-decoration: none; }


/* @media all (max-width : 70px){

    nav a{
        font-size: 10px;
        }
} */

